<div class="footer"><footer>
    <div class="container footer-container">
        <div class="megafooter"></div>
        <div class="sub-footer-container1">
            <div class="row">
                <div class="be-think-innovate pull-right">
                    <img src="//www.grundfos.com/etc/designs/grundfos/internet/responsive/images/bethinkinnovate.png" title="replace text" alt="replace text">
                </div>
            </div>
            <div class="row row-footer-divider"></div>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="text footer-adr" itemscope="" itemtype="http://schema.org/PostalAddress">
                        <address>
								<span class="footer-container1-header" itemprop="name">
									<strong>GRUNDFOS Holding A/S</strong></span>
								<span>
									Poul Due Jensens Vej 7<br>DK-8850 Bjerringbro, Denmark<br>Tel.: +45 87501400 | Fax +45 87501402<br>CVR no. 31 85 83 56<br></span><br>
                        </address>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                </div>
                <div class="col-md-3 col-sm-3 quick-select-col">
                </div>
                <div class="col-md-3 col-sm-3 newsletter-col">
                    <div class="newsletter-box newsletterbox"><div class="text">
                        <h4>Subscribe to newsletter</h4>
                        <p>Grab the opportunity to stay up-to-date on Grundfos news and events. Sign-up and we will send you our newsletter.</p>
                        <div class="hidden-xs hidden-sm">
                            <a href="/nav/newsletter-subscription.html" class="btn btn-success">
                                <span>Subscribe</span>
                            </a>
                        </div>
                        <div class="visible-xs visible-sm">
                            <a href="/nav/newsletter-subscription.html" class="btn btn-success">
                                <span>Subscribe</span>
                            </a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <nav class="nav-footer-container1">
                <nav class="nav-footer-container1">
                    <ul class="global-menu-footer">
                    </ul>
                    <ul class="global-menu-footer-divider">
                        <li>|</li>
                    </ul>
                    <ul class="global-menu-footer-right">
                    </ul>
                    <ul class="global-menu-footer-divider">
                        <li>|</li>
                    </ul>

                    <ul>
                        <li><a href="/navfooter/legal-issues.html" title=" Legal Issues"> Legal Issues</a></li>
                        <li>|</li>
                        <li><a href="/navfooter/contact-grundfos.html" title="Contact Grundfos">Contact Grundfos</a></li>
                        <li><a href="http://www.youtube.com/grundfos" target="_blank"><img src="//www.grundfos.com/content/dam/Global Site/Social Media/socialmedia-youtube.png" alt="YouTube"></a></li><li><a href="https://plus.google.com/106026776677109881058/posts?partnerid=ogpy0" target="_blank"><img src="//www.grundfos.com/content/dam/Global Site/Social Media/socialmedia-google-plus.png" alt="Google+"></a></li><li><a href="http://www.linkedin.com/company/grundfos-holding-a-s" target="_blank"><img src="//www.grundfos.com/content/dam/Global Site/Social Media/socialmedia-linkedin.png" alt="LinkedIn"></a></li></ul>
                </nav>
            </nav>
        </div>
    </div>
</footer>
</div>