<header>
<div class="header-wrapper">
    <div class="container header-container">
        <div id="cookies-guide" class="collapse">
            <div>






                <div class="text"><p><b>Cookie Policy</b><br>
                    At Grundfos we use cookies to remember your choices, and to improve your experience on the Grundfos websites. Use the site as normal if you accept this. For more detailed information, please read our <a title="cookie policy" href="/navfooter/legal-issues/cookies.html">full cookie policy</a>.</p>
                </div>

            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function() {
                if(!Grundfos.Cookies.isAllowed()) {
                    $("#cookies-guide").collapse("show");
                }

                Grundfos.Cookies.optIn();
            });
        </script>
        <div class="nav-global-navigation">
            <nav>
                <ul class="move-to-footer-ul">
                    <li class="move-to-footer"><a href="/nav/extranet.html" title="Extranet">Extranet</a></li>
                    <li class="move-to-footer">|</li>
                    <li class="move-to-footer"><a href="/nav/newsletter-subscription.html" title="Newsletter subscription">Newsletter subscription</a></li>
                    <li class="move-to-footer">|</li>
                    <li class="move-to-footer"><a href="/nav/sitemap.html" title="Sitemap">Sitemap</a></li>
                    <li class="move-to-footer">|</li>
                    <li class="move-to-footer"><a href="/nav/careers.html" title="Career">Career</a></li>
                    <li class="move-to-footer">|</li>
                    <li class="move-to-footer"><a href="/nav/contact.html" title="Contact">Contact</a></li>
                </ul>
                <ul class="global-nav-right pull-right">
                    <li>
                        <a data-toggle="modal" data-target="#country-select" href="http://www.grundfos.com/countries.html">Global</a>
                    </li>
                    <li>
                    </li>
                    <li>
                        <a data-toggle="modal" data-target="#country-select" href="http://www.grundfos.com/countries.html">
                            <img src="//www.grundfos.com/etc/designs/grundfos/internet/clientlib/lib/img/countryselect.png" alt="Select country">
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="logo">
            <a href="http://www.grundfos.com" title="home"><img src="//www.grundfos.com/etc/designs/grundfos/internet/responsive/images/grundfoslogo.png" title="Grundfos logo" alt="Grundfos logo"></a>
        </div>
        <nav class="navbar navbar-top navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="btn btn-default search-toggle" data-toggle="collapse" data-target=".search-collapse">
                </button>

                <button type="button" class="btn btn-default countryselect-toggle" data-toggle="modal" data-target="#country-select">
                </button>

                <button type="button" class="btn btn-default navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="search-collapse collapsible collapse row">
                <form id="search-form-mobile" class="navbar-form" role="form" action="http://www.grundfos.com/nav/search.html">
                    <input type="text" name="q" class="form-control navbar-search placeholder" placeholder="Search">
                    <button type="submit" class="btn btn-default"></button>
                </form>
            </div>

            <div class="navbar-collapse collapsible collapse">
                <ul class="nav main-nav">
                    <li>
                        <a href="/products.html" title="Products">Products</a>
                    </li>
                    <li>
                        <a href="/industries-solutions.html" title="Industries &amp; solutions">Industries &amp; solutions</a>
                    </li>
                    <li>
                        <a href="/cases.html" title="Cases">Cases</a>
                    </li>
                    <li>
                        <a href="/service-support.html" title="Service &amp; support">Service &amp; support</a>
                    </li>
                    <li>
                        <a href="/training-events.html" title="Training">Training</a>
                    </li>
                    <li>
                        <a href="/about-us.html" title="About us">About us</a>
                    </li>
                    <li>
                        <a href="/how-to-buy.html" title="How to buy">How to buy</a>
                    </li>
                </ul>
                <form id="search-form" class="navbar-form pull-right" role="form" action="http://www.grundfos.com/nav/search.html">
                    <input type="text" name="q" class="form-control typeahead placeholder" placeholder="Search..">
                    <button type="submit" class="btn btn-default"></button>
                </form>
            </div><!--/.nav-collapse -->
        </nav>
    </div> <!-- header-container -->
</div>

<div class="dropdown-wrapper">
<div class="container">
<div id="megadropdown" class="row full-width" style="height: 0px;">
<div id="submenu1" class="dropdown-submenu col-md-12 col-sm-12 active-submenu" style="display: block;">
    <div class="dropdown-submenu-header-row col-md-12 col-sm-12">
        <div class="col-md-3 col-sm-3"><h2>Find your product</h2></div>
        <div class="col-md-3 col-sm-3"><h2>Popular products</h2></div>
        <div class="col-md-3 col-sm-3"><h2> </h2></div>
        <div class="col-md-3 col-sm-3"><h2> </h2></div>
    </div>
    <div class="col-md-3 col-sm-3"><ul class="default"><li><a href="/products/find-product.html" title="Find Product">Find Product</a></li>
        <li><a href="/products/products-a-z.html" title="Products A-Z">Products A-Z</a></li>
    </ul>
        <div class="dropdown-submenu-header">
            <h2>Product sustainability</h2></div>
        <ul class="default"><li><a href="/products/product-sustainability.html" title="Product sustainability">Product sustainability</a></li>
        </ul>

    </div>
    <div class="col-md-3 col-sm-3"><div class="dropdown-submenu-header">
        <h2>Most popular products</h2></div>
        <div class="dropdown-submenu-header">
            <h2>Buildings</h2></div>
        <ul class="default"><li><a href="/products/find-product/The-new-ALPHA2.html" title="The new ALPHA2">The new ALPHA2</a></li>
            <li><a href="/products/find-product/magna-upe.html" title="MAGNA/UPE">MAGNA/UPE</a></li>
            <li><a href="/products/find-product/tp-tpe.html" title="TP, TPE ">TP, TPE </a></li>
            <li><a href="/products/find-product/nk-nkg-nke-nkge.html" title="NK, NKG, NKE, NKGE">NK, NKG, NKE, NKGE</a></li>
            <li><a href="/products/find-product/nb-nbg-nbe-nbge.html" title="NB, NBG, NBE, NBGE">NB, NBG, NBE, NBGE</a></li>
        </ul>

    </div>
    <div class="col-md-3 col-sm-3"><div class="dropdown-submenu-header">
        <h2>Water Supply</h2></div>
        <ul class="default"><li><a href="/products/find-product/sp.html" title="SP">SP</a></li>
            <li><a href="/products/find-product/sq.html" title="SQ">SQ</a></li>
            <li><a href="/products/find-product/hydro-mpc.html" title="Hydro MPC">Hydro MPC</a></li>
            <li><a href="/products/find-product/hs.html" title="HS">HS</a></li>
            <li><a href="/products/find-product/nb-nbg-nbe-nbge.html" title="NB, NBG, NBE, NBGE">NB, NBG, NBE, NBGE</a></li>
        </ul>
        <div class="dropdown-submenu-header">
            <h2>Wastewater</h2></div>
        <ul class="default"><li><a href="/products/find-product/s-pump.html" title="S pump">S pump</a></li>
            <li><a href="/products/find-product/pust-pumping-stations.html" title="PUST pumping stations">PUST pumping stations</a></li>
            <li><a href="/products/find-product/dedicated-controls.html" title="Dedicated Controls">Dedicated Controls</a></li>
            <li><a href="/products/find-product/sl.html" title="SL 0.9-11 kW ">SL 0.9-11 kW </a></li>
            <li><a href="/products/find-product/amd-amg-afg.html" title="AMD-AMG-AFG">AMD-AMG-AFG</a></li>
        </ul>

    </div>
    <div class="col-md-3 col-sm-3"><div class="dropdown-submenu-header">
        <h2>Industrial Solutions</h2></div>
        <ul class="default"><li><a href="/products/find-product/cr.html" title="CR">CR</a></li>
            <li><a href="/products/find-product/nb-nbg-nbe-nbge.html" title="NB, NBG, NBE, NBGE">NB, NBG, NBE, NBGE</a></li>
            <li><a href="/products/find-product/nk-nkg-nke-nkge.html" title="NK, NKG, NKE, NKGE">NK, NKG, NKE, NKGE</a></li>
            <li><a href="/products/find-product/mtr-spk-mth-mta.html" title="MTR/SPK/MTH/MTA">MTR/SPK/MTH/MTA</a></li>
        </ul>

    </div>
</div>
<div id="submenu2" class="dropdown-submenu col-md-12 col-sm-12" style="display: none;">
    <div class="dropdown-submenu-header-row col-md-12 col-sm-12">
        <div class="col-md-3 col-sm-3"></div>
        <div class="col-md-3 col-sm-3"></div>
        <div class="col-md-3 col-sm-3"></div>
        <div class="col-md-3 col-sm-3"></div>
    </div>
    <div class="col-md-3 col-sm-3"><div class="dropdown-submenu-header">
        <h2>All industries</h2></div>
        <ul class="default"><li><a href="/industries-solutions/industries.html" title="Industries">Industries</a></li>
        </ul>
        <div class="dropdown-submenu-header">
            <h2>All applications</h2></div>
        <ul class="default"><li><a href="/industries-solutions/applications.html" title="Applications">Applications</a></li>
        </ul>

    </div>
    <div class="col-md-3 col-sm-3"><div class="dropdown-submenu-header">
        <h2>Buildings</h2></div>
        <ul class="default"><li><a href="/industries-solutions/industries/domestic-buildingservices.html" title="Domestic Building Services">Domestic Building Services</a></li>
            <li><a href="/business-areas/commercial-buildings.html" title="Commercial Buildings">Commercial Buildings</a></li>
            <li><a href="/industries-solutions/industries/hvacoem.html" title="HVAC OEM">HVAC OEM</a></li>
        </ul>
        <div class="dropdown-submenu-header">
            <h2>Water supply</h2></div>
        <ul class="default"><li><a href="/water-utility.html" title="Water utility">Water utility</a></li>
        </ul>
        <ul class="default"><li><a href="/industries-solutions/industries/water-intake.html" title="Water Intake">Water Intake</a></li>
            <li><a href="/industries-solutions/industries/water-treatment.html" title="Water Treatment">Water Treatment</a></li>
            <li><a href="/industries-solutions/industries/water-distribution.html" title="Water Distribution">Water Distribution</a></li>
        </ul>

    </div>
    <div class="col-md-3 col-sm-3"><div class="dropdown-submenu-header">
        <h2>Wastewater</h2></div>
        <ul class="default"><li><a href="/water-utility.html" title="Water utility">Water utility</a></li>
        </ul>
        <ul class="default"><li><a href="/industries-solutions/industries/wastewater-transport.html" title="Wastewater Transport">Wastewater Transport</a></li>
            <li><a href="/industries-solutions/industries/wastewater-treatment.html" title="Wastewater Treatment">Wastewater Treatment</a></li>
        </ul>
        <div class="dropdown-submenu-header">
            <h2>Irrigation &amp; Agriculture</h2></div>
        <ul class="default"><li><a href="/industries-solutions/industries/agricultural-water-intake.html" title="Agricultural Water Intake">Agricultural Water Intake</a></li>
            <li><a href="/industries-solutions/industries/agricultural-water-distribution.html" title="Agricultural Water Distribution">Agricultural Water Distribution</a></li>
            <li><a href="/industries-solutions/industries/agricultural-water-treatment.html" title="Agricultural Water Treatment">Agricultural Water Treatment</a></li>
        </ul>
        <ul class="default"><li><a href="/irrigation.html" title="Irrigation">Irrigation</a></li>
        </ul>

    </div>
    <div class="col-md-3 col-sm-3"><div class="dropdown-submenu-header">
        <h2>Industrial solutions</h2></div>
        <ul class="default"><li><a href="/industries-solutions/industries/food.html" title="Food">Food</a></li>
            <li><a href="/industries-solutions/industries/beverage.html" title="Beverage">Beverage</a></li>
            <li><a href="/industries-solutions/industries/pharma.html" title="Pharma">Pharma</a></li>
            <li><a href="/industries-solutions/industries/biofuel.html" title="Biofuel">Biofuel</a></li>
            <li><a href="/industries-solutions/industries/marine.html" title="Marine">Marine</a></li>
            <li><a href="/industries-solutions/industries/automotive.html" title="Automotive">Automotive</a></li>
            <li><a href="/industries-solutions/industries/mining.html" title="Mining">Mining</a></li>
            <li><a href="/industries-solutions/industries/manufacturing-industries.html" title="Manufacturing industries">Manufacturing industries</a></li>
        </ul>

    </div>
</div>
<div id="submenu3" class="dropdown-submenu col-md-12 col-sm-12">
    <div class="dropdown-submenu-header-row col-md-12 col-sm-12">
        <div class="col-md-3 col-sm-3"></div>
        <div class="col-md-3 col-sm-3"></div>
        <div class="col-md-3 col-sm-3"></div>
        <div class="col-md-3 col-sm-3"></div>
    </div>
    <div class="col-md-3 col-sm-3"><div class="dropdown-submenu-header">
        <h2>Find cases</h2></div>
        <ul class="default"><li><a href="/cases/find-case.html" title="Find case">Find case</a></li>
        </ul>

    </div>
    <div class="col-md-3 col-sm-3">
    </div>
    <div class="col-md-3 col-sm-3">
    </div>
    <div class="col-md-3 col-sm-3">
    </div>
</div>
<div id="submenu4" class="dropdown-submenu col-md-12 col-sm-12" style="display: none;">
    <div class="dropdown-submenu-header-row col-md-12 col-sm-12">
        <div class="col-md-3 col-sm-3"></div>
        <div class="col-md-3 col-sm-3"></div>
        <div class="col-md-3 col-sm-3"></div>
        <div class="col-md-3 col-sm-3"></div>
    </div>
    <div class="col-md-3 col-sm-3"><div class="dropdown-submenu-header">
        <h2>Service &amp; support</h2></div>
        <ul class="default"><li><a href="/service-support/about-global-services.html" title="About global services">About global services</a></li>
            <li><a href="/service-support/installation.html" title="Installation">Installation</a></li>
            <li><a href="/service-support/operation.html" title="Operation">Operation</a></li>
            <li><a href="/service-support/replacement.html" title="Replacement">Replacement</a></li>
            <li><a href="/service-support/spareparts.html" title="Spareparts">Spareparts</a></li>
            <li><a href="/service-support/encyclopedia-search.html" title="Encyclopedia search">Encyclopedia search</a></li>
        </ul>

    </div>
    <div class="col-md-3 col-sm-3"><div class="dropdown-submenu-header">
        <h2>CAPS support pages</h2></div>
        <ul class="default"><li><a href="/service-support/caps-support-pages.html" title="WinCAPS &amp; WebCAPS Support Pages">WinCAPS &amp; WebCAPS Support Pages</a></li>
        </ul>
        <ul class="default"><li><a href="/service-support/caps-support-pages/webcaps-support.html" title="WebCAPS Support">WebCAPS Support</a></li>
            <li><a href="/service-support/caps-support-pages/wincaps-support.html" title="WinCAPS Support">WinCAPS Support</a></li>
            <li><a href="/service-support/caps-support-pages/gocaps-support.html" title="Grundfos GO Support">Grundfos GO Support</a></li>
            <li><a href="/service-support/caps-support-pages/caps-online-training.html" title="WinCAPS Online Training">WinCAPS Online Training</a></li>
        </ul>

    </div>
    <div class="col-md-3 col-sm-3">
    </div>
    <div class="col-md-3 col-sm-3">
    </div>
</div>
<div id="submenu5" class="dropdown-submenu col-md-12 col-sm-12" style="display: none;">
    <div class="dropdown-submenu-header-row col-md-12 col-sm-12">
        <div class="col-md-3 col-sm-3"></div>
        <div class="col-md-3 col-sm-3"></div>
        <div class="col-md-3 col-sm-3"></div>
        <div class="col-md-3 col-sm-3"></div>
    </div>
    <div class="col-md-3 col-sm-3"><div class="dropdown-submenu-header">
        <h2>Training</h2></div>
        <ul class="default"><li><a href="/training-events.html" title="Training">Training</a></li>
        </ul>
        <div class="dropdown-submenu-header">
            <h2>eLearning</h2></div>
        <ul class="default"><li><a href="/training-events/elearning.html" title="eLearning">eLearning</a></li>
        </ul>
        <ul class="default"><li><a href="/training-events/elearning/pump-theory.html" title="Pump theory">Pump theory</a></li>
            <li><a href="/training-events/elearning/webcaps.html" title="WebCAPS">WebCAPS</a></li>
        </ul>

    </div>
    <div class="col-md-3 col-sm-3">
    </div>
    <div class="col-md-3 col-sm-3">
    </div>
    <div class="col-md-3 col-sm-3">
    </div>
</div>
<div id="submenu6" class="dropdown-submenu col-md-12 col-sm-12" style="display: none;">
    <div class="dropdown-submenu-header-row col-md-12 col-sm-12">
        <div class="col-md-3 col-sm-3"></div>
        <div class="col-md-3 col-sm-3"></div>
        <div class="col-md-3 col-sm-3"></div>
        <div class="col-md-3 col-sm-3"></div>
    </div>
    <div class="col-md-3 col-sm-3"><div class="dropdown-submenu-header">
        <h2>Introduction to Grundfos</h2></div>
        <ul class="default"><li><a href="/about-us/introduction-to-grundfos.html" title="Introduction to Grundfos">Introduction to Grundfos</a></li>
        </ul>
        <ul class="default"><li><a href="/about-us/introduction-to-grundfos/be-think-innovate.html" title="be think innovate">be think innovate</a></li>
            <li><a href="/about-us/introduction-to-grundfos/the-grundfos-purpose.html" title="The Grundfos Purpose">The Grundfos Purpose</a></li>
            <li><a href="/about-us/introduction-to-grundfos/the-grundfos-values.html" title="The Grundfos Values">The Grundfos Values</a></li>
            <li><a href="/about-us/introduction-to-grundfos/group-policies.html" title="Group Policies">Group Policies</a></li>
            <li><a href="/about-us/introduction-to-grundfos/facts-about-grundfos.html" title="Facts about Grundfos">Facts about Grundfos</a></li>
            <li><a href="/about-us/the-grundfos-prize.html" title="The Grundfos Prize">The Grundfos Prize</a></li>
            <li><a href="/about-us/introduction-to-grundfos/learning-is-a-life-long-project.html" title="Learning is a life long project.">Learning is a life long project.</a></li>
        </ul>
        <ul class="default"><li><a href="/about-us/group-management-and-structure.html" title="Group Management and Structure">Group Management and Structure</a></li>
        </ul>

    </div>
    <div class="col-md-3 col-sm-3"><div class="dropdown-submenu-header">
        <h2>Sustainability</h2></div>
        <ul class="default"><li><a href="/about-us/sustainability-responsibility.html" title="Sustainability">Sustainability</a></li>
        </ul>
        <ul class="default"><li><a href="/about-us/sustainability-responsibility/Sustainability-in-grundfos.html" title="Sustainability in Grundfos">Sustainability in Grundfos</a></li>
            <li><a href="/about-us/sustainability-responsibility/Strategic-focus-areas.html" title="Strategic focus areas">Strategic focus areas</a></li>
            <li><a href="/about-us/sustainability-responsibility/Our-performance.html" title="Our performance">Our performance</a></li>
            <li><a href="/about-us/sustainability-responsibility/initiatives-on-water.html" title="Initiatives on water">Initiatives on water</a></li>
            <li><a href="/about-us/sustainability-responsibility/reducing-own-footprint.html" title="Reducing own footprint">Reducing own footprint</a></li>
            <li><a href="/about-us/sustainability-responsibility/meet-the-energy-challenge-now.html" title="Meet the energy challenge NOW">Meet the energy challenge NOW</a></li>
            <li><a href="/about-us/sustainability-responsibility/Ethics-and-compliance.html" title="Ethics and compliance">Ethics and compliance</a></li>
            <li><a href="/about-us/sustainability-responsibility/water2life1.html" title="Water2Life">Water2Life</a></li>
        </ul>
        <div class="dropdown-submenu-header">
            <h2>Grundfos Challenge</h2></div>
        <ul class="default"><li><a href="/about-us/Grundfos%20Challenge.html" title="Grundfos Challenge">Grundfos Challenge</a></li>
        </ul>

    </div>
    <div class="col-md-3 col-sm-3"><div class="dropdown-submenu-header">
        <h2>News centre</h2></div>
        <ul class="default"><li><a href="/about-us/news-and-press/news.html" title="News">News</a></li>
            <li><a href="/about-us/news-and-press/Magazines.html" title="Magazines">Magazines</a></li>
        </ul>
        <div class="dropdown-submenu-header">
            <h2>Group purchase</h2></div>
        <ul class="default"><li><a href="/about-us/group-purchase.html" title="Group Purchase">Group Purchase</a></li>
        </ul>
        <ul class="default"><li><a href="/about-us/group-purchase/doing-business-with.html" title="Doing Business with">Doing Business with</a></li>
            <li><a href="/about-us/group-purchase/existing-supplier-web-access.html" title="Existing supplier web access">Existing supplier web access</a></li>
            <li><a href="/about-us/group-purchase/group-purchase.html" title="About Group Purchase">About Group Purchase</a></li>
            <li><a href="/about-us/group-purchase/conflict-minerals.html" title="Conflict Minerals">Conflict Minerals</a></li>
            <li><a href="/about-us/group-purchase/focus-list.html" title="Focus List">Focus List</a></li>
        </ul>

    </div>
    <div class="col-md-3 col-sm-3"><div class="dropdown-submenu-header">
        <h2>Career</h2></div>
        <ul class="default"><li><a href="/about-us/career.html" title="Career">Career</a></li>
        </ul>
        <ul class="default"><li><a href="/about-us/career/jobs.html" title="Jobs">Jobs</a></li>
            <li><a href="/about-us/career/working-at-grundfos.html" title="Working at Grundfos">Working at Grundfos</a></li>
            <li><a href="/about-us/career/career-and-talentdevelopment.html" title="Career and talent development">Career and talent development</a></li>
            <li><a href="/about-us/career/graduate-programme.html" title="Graduate Programme">Graduate Programme</a></li>
            <li><a href="/about-us/career/students.html" title="Students">Students</a></li>
        </ul>
        <div class="dropdown-submenu-header">
            <h2>Media contact</h2></div>
        <ul class="default"><li><a href="/about-us/contact.html" title="Media contact">Media contact</a></li>
        </ul>
        <div class="dropdown-submenu-header">
            <h2>Image gallery</h2></div>
        <ul class="default"><li><a href="/about-us/image-gallery.html" title="Image gallery">Image gallery</a></li>
        </ul>

    </div>
</div>
<div id="submenu7" class="dropdown-submenu col-md-12 col-sm-12" style="display: none;">
    <div class="dropdown-submenu-header-row col-md-12 col-sm-12">
        <div class="col-md-3 col-sm-3"></div>
        <div class="col-md-3 col-sm-3"></div>
        <div class="col-md-3 col-sm-3"></div>
        <div class="col-md-3 col-sm-3"></div>
    </div>
    <div class="col-md-3 col-sm-3">
    </div>
    <div class="col-md-3 col-sm-3">
    </div>
    <div class="col-md-3 col-sm-3">
    </div>
    <div class="col-md-3 col-sm-3">
    </div>
</div>
</div>
<div id="close-mega-dropdown" class="row full-width visible-touch" style="display: none;">
    <div class="col-md-12 col-sm-12">
        <span class="arrow-up"></span>
    </div>
</div>
</div>
</div>
</header>