<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(app) styles/vendor.css -->
    <!-- bower:css -->
    <!--link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"-->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <!--link rel="stylesheet" href="styles/responsive.css"-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <link rel="stylesheet" href="//www.grundfos.com/etc/designs/grundfos/internet/responsive.css" type="text/css"/>
    <script type="text/javascript" src="//www.grundfos.com/etc/designs/grundfos/internet/responsive.js"></script>
    <!--link rel="stylesheet" href="styles/main.css"-->
    <!-- endbuild -->
</head>

<body class="frontpage" ng-app="replaceproductApp">

<div ng-controller="MainCtrl">
    <div ng-include src="'views/partials/header.html'"></div>

    <div class="container ">

        <section class="component component-tabs">
        <!--div class="component component-tabs"-->
            <div class="row  full-background">

                <!--ul style="{border-radius: 0px;}" class="nav nav-pills"-->
                <ul class="nav nav-bar nav-tabs">
                    <li><a href="#search" data-toggle="tab">REPLACEMENT</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane tab-pane-with-box tab-pane-box" id="search">
                        <form class="form-search">
                            <div class="input-append">
                                <input type="text" class="span2 search-query">
                                <!--button type="submit" class="btn"><i class="icon-search"></i></button-->
                            </div>
                        </form>
                        <div class="component-related-products">
                            <!-- div class="row  full-background" -->
                            <div class="col-md-12 col-sm-12">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Table heading</th>
                                        <th>Table heading</th>
                                        <th>Table heading</th>
                                        <th>Table heading</th>
                                        <th>Table heading</th>
                                        <th>Table heading</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Table cell</td>
                                        <td>Table cell</td>
                                        <td>Table cell</td>
                                        <td>Table cell</td>
                                        <td>Table cell</td>
                                        <td>Table cell</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Table cell</td>
                                        <td>Table cell</td>
                                        <td>Table cell</td>
                                        <td>Table cell</td>
                                        <td>Table cell</td>
                                        <td>Table cell</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Table cell</td>
                                        <td>Table cell</td>
                                        <td>Table cell</td>
                                        <td>Table cell</td>
                                        <td>Table cell</td>
                                        <td>Table cell</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!--div-->
                        </div>

                    </div>
                </div>
            </div>
        <!--/div-->
        </section>


        <div class="row quick-links">
            <div class="col-md-9 col-sm-9">
                <img src="/images/Wcapsimage3.png"/>
            </div>
            <div class="col-md-3 col-sm-3 main-column">
                <div class="text_headline section">
                    <section class="component component-headline-text component-richtext">
                        <div class="row full-width">
                            <div class="main-component-content">
                                <h3 class="component-header-bar">CURVE SETTINGS</h3>

                                <div class="text">
                                    <p>TBD<br>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div ng-include src="'views/partials/footer.html'"></div>

    </div>
</div>
</body>

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<!-- build:js(app) scripts/vendor.js -->
<!-- bower:js -->
<!--script src="bower_components/jquery/jquery.js"></script-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/d3/d3.js"></script>
<script src="bower_components/nvd3/nv.d3.js"></script>
<script src="bower_components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>
<link rel="stylesheet" href="bower_components/nvd3/nv.d3.css"/>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/navbar.js"></script>
<!-- endbuild -->
</body>
</html>
